/* Comman CSS*/
.pane, .view{
    background-color: #40C2D1;
}
.col-32{
    -moz-box-flex: 0;
    flex: 0 0 32%;
    max-width: 32%;
}
.tabs{
    background: #000;
    color: #fff;
    height: 44px;
}
.tab-item .icon{
    font-size: 25px;
    height: 29px;
    line-height: 1.4;
}
.bar-header{
  background: #000;   
}
.bar-header .title,.bar-header a i{
    color: #fff;
}

.list-inset{
 background: none;   
}
.bar{
    padding: 0;
}
.font-white{
    color:#fff;
}
.bar-header i{
    color: #000;
}
.item-stacked-label{
    background-color: rgba(255, 255, 255, 0.5);
    border:none;
    margin-bottom:2px;
}
.item-stacked-label input, .item-stacked-label textarea{
    background-color: rgba(255, 255, 255, 0);
}
.item-input-wrapper
{
    padding:0px !important;
}
.item-input{
    padding: 6px 20px;
}
.text-center{
    text-align:center;
}

.text-right{
    text-align:right;
}
.menu-avatar img{
    border-radius: 50%;
    height: 70px;
    margin: 10px 0;
    width: 70px;
}
.menu-avatar img.edit-img{
    width:24px;
    height:24px; 
    position:relative;
    left:-26px;
 }
.button.button-dark{
    background-color: #000;
}

.tabs-striped .tabs{
    background-color: #000;
}

.item-stacked-label input::-webkit-input-placeholder {
   color: #000;
}

.item-stacked-label input:-moz-placeholder { /* Firefox 18- */
    color: #000;
}

.item-stacked-label input::-moz-placeholder {  /* Firefox 19+ */
    color: #000; 
}

.item-stacked-label input:-ms-input-placeholder {  
    color: #000;  
}




/* LoginPage*/
.login{
    padding: 10px;
}
.login .scroll-content {
    top:0;
    bottom:0;	
}
.login .bar-footer{border:none}
.login .facebook-login{
    width: 20%;
}
.login .login-link{
    text-align:center;
    color: #fff;
}
.login .login-link .button{
    line-height: 20px;
    min-height: 20px;
	font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.08em;
}
.login .login_button{
   
	border-radius:3px;
	
}
.login .facebook-button{
    margin: 15px auto 30px;
	padding:0 10px;
}
.login .item {border-width: 0;margin: 0 0 1px;}
.login .input-label{
	font-size:12px;
}
.login .inputtag{
	font-size:12px;
	
}
.login .text-center a{
	color:#000;
	font-size:14px;
	margin:-15px 0 0;
}
.login .login-link a{
	color:#fff;
	bottom:0;
	font-size:14px;
}
.login .text-center p{
	display: block;
    font-size: 12px;
    padding: 0;
    text-align: center;
}
		
.login-footer{background-color:transparent}
.login-footer .login{width:100%}

/* Forget Password Page */
.forget-password{
   padding: 10px;
}
.forget-password .forget-text{
	margin:20px 20px 40px;
}
.forget-password .forget-text p{
	font-size: 18px;
	font-weight: 300;
	text-align:center;
	padding:10px 0 0 !important;     
	color:rgba(0,0,0,0.7)                          
}
.forget-password .item-input {border: medium none;padding: 6px 20px;}
.forget-password .forget-text p.forget-p{
	font-size: 22px;
	font-weight: 300;
	text-align:center;
	padding:10px 0 0;
	color:#000
}

.forget-password .text-center p{
	text-align:center;
	padding:0 30px;
}

.forget-password .button{
	border-radius:3px;
	
}
.forget-password .text-center.facebook-button img{width:100px !important; height:100px !important}

/* Activation Account Page */
.account-activation{ margin: 30px 0;}
.account-activation .item-stacked-label {border: medium none; margin-bottom: 2px;}
.account-activation .activate_button, .account-activation .free-trail{margin: 20px;}
.account-activation .text-center p{color:rgba(0,0,0,0.7);font-size:18px;margin-bottom:60px;}
.account-activation .button.button-clear.font-white{color:#fff}
.account-activation .ion-sad-outline{
    font-size: 30px;
}
.account-activation .email-support{
    display: block;
    height: auto;
    margin: 0 auto;
    width: auto;
}
.account-activation .free_trail_div{margin-top:50px !important}
/* Signup Page */
.signup{
    padding: 10px;
}
.signup .signup-link .button{
    line-height: 20px;
    min-height: 20px;
}
.signup .item-input {
    border: medium none;
    margin-bottom: 2px;
    padding: 6px 20px;
}
.signup .signup-link {
    text-align: center;
	padding:25px 0 0;
}
.signup .signup-link .button.button-clear.font-white{font-size:18px;}
.signup .signup_button{
   
	border-radius:3px;
}
.signup .facebook-button{
    margin: 15px auto;
}
.signup .text-center{
	display: block;
    font-size: 12px;
    padding: 0;
    text-align: center;
}
.signup .text-center p{
	padding:0 0 0 20px;
	font-size:12px;
}
.signup .input-label{
	font-size:12px;
}
.signup .item-stacked-label input, .item-stacked-label textarea{
	font-size:12px;
}
.signup a.button{
	font-size:14px;
	color:#fff;
}


/*setting page*/
.setting_container i,.setting_container label{
    width:40px;
	margin-right:5px;
}
.setting_container .item-divider
{
    font-size:14px;
	border:none;
	font-weight:400;
	padding-bottom:5px;
}
.setting_container .list .item-divider{
	background-color:transparent;
	padding-top:35px;
	padding-bottom:5px;
	color:#fff;
}
.setting_container .list .bg-color{
	background-color:rgba(255,255, 255, 0.4);
	border:none;
	color:#000;
}
.setting_container .list .bg-color .item{
	background-color:transparent;
	border:none;
	margin-bottom:0;
	padding:0;

}
.setting_container .list .bg-color .border{
	border-bottom:none;
}
.setting_container .list .bg-color .a{	
	color:#000;
}
.setting_container .list .item .ion-clipboard::before{
	background-color:#fff;
	padding:10px;
	border-radius:5px;
}
.setting_container .list .item .ion-email::before{
	background-color:#fff;
	padding:10px;
	border-radius:3px;
}
.setting_container .list .item .ion-clipboard::before{
	background-color:#fff;
	padding:10px;
	border-radius:3px;
}
.setting_container .list .bg-color .icon{
	float: left;
    margin-left: 7px;
    margin-right: 5px;
    width: 50px;
}
.setting_container .list .bg-color .icon .icon-bg{
	background-color: #fff;
    border-radius: 5px;
    margin: 8px 7px 0;
    padding: 6px;
    width: 35px;
}
/*menu page*/
.text-center.menu-head
{
    background:url(../img/menu-header.jpg);
    webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.text-center.menu-head .menu-avatar{
	position:relative;
	top:50px;
	left:12px;
	text-align:left;
}
.text-center.menu-head .user_profile{
	position:relative;
	left:90px;
	text-align:left;
	color:#fff;
	padding:0 0 30px 0;
	top:-10px
}
 .list .item.text-left {
    border: 1px solid #a6b93e;
}
.user_profile .button,.user_profile p
{
    margin:0px !important;
}
.user_profile p
{
    padding:0px !important;
}
 img.nav-icon
 {
    width:30px;
 }

.ionic .item-avatar > img:first-child, .ionic .item-avatar .item-image, .ionic .item-avatar .item-content > img:first-child, .ionic .item-avatar .item-content .item-image, .ionic .item-avatar-left > img:first-child, .ionic .item-avatar-left .item-image, .ionic .item-avatar-left .item-content > img:first-child, .ionic .item-avatar-left .item-content .item-image{border-radius: 50%;height: 100%;left: 16px;max-height: 40px;max-width: 40px;position: absolute;top: 16px;width: 100%;}
.search-wrapper .ng-pristine.ng-untouched.ng-valid{padding-left:0 !important;text-align:center;width:100%; color:#000;}
.item.item-input-inset .item-input-wrapper{padding-left:0; padding-right:0}
.item.item-input-inset .icon.ion-search{color: #8d8d93;
    left: 50%;
    margin-left: -35px;
    margin-top: -7px;
    position: absolute;
    top: 50%;}
@media( max-width:380px){
	.item.item-input-inset .icon.ion-search{ margin-top: -9px;}	
	}



/* POP-UP WINDOW */
.popup-container .popup {
	background: #ced6db url(../img/pop-up-bg.jpg) center center no-repeat;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    max-height: 90%;
	min-width:280px;
    max-width: 540px;
    width: 70%;
	position:relative;
	min-height:190px;
	background-size:cover
}
.popup-head {border-bottom: 1px solid #afafbb;}
.popup-buttons {
    border-top: 1px solid #afafbb;
    padding:0px !important;
    margin:0px !important;
    min-height: 45px !important;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%
}
.date-picker-popup .popup-buttons{position: relative}
.ion-datetime-picker-popup .popup{ height: 430px}
.scan-popup .popup-head{display: none;}
.scan-popup .popup-body div.text-center{margin: -32px auto 0 !important; position: absolute;top: 50%; width: 100% !important;left: 0}

.popup-buttons .button {
    padding:0px !important;
    background:transparent !important;
    border-radius: 4px;
    font-size: 16px !important;
    font-weight: 600;
    width: 90%;
	
}


.popup-buttons .button.button-positive{
    color: #111;
}
.popup-buttons .button.button-positive:hover {
    color: #111;
    text-decoration: none;
}
.popup-buttons.login.image_analysis{padding-left:0 !important;padding-right:0 !important;}
.popup-buttons.login.image_analysis .button{width:50%;margin-left:0;background-color:transparent;bottom:0;border-top:1px solid #afafbb;border-radius:0;color:#000}

.popup-buttons.login.image_analysis .button+.button{left:auto;right:0%;border-left:1px solid #afafbb}
.popup-body{display: table; line-height: normal;  min-height: 96px; padding: 10px; text-align: center; text-transform: none; vertical-align: middle; width: 100%;}
.popup-body span{display: table-cell; height: 100%; height: 80px;vertical-align: middle; width: 100% !important;}
.popup-title {text-transform: capitalize;}
.popup input{ border-radius: 5px; text-align: center;}
.popup .form-input-label{text-align: center;margin: 10px 0;}
 /* Scan Complete  */
.scan-complete-popup .popup-head{display: none;}
.scan-complete-popup .popup-body p.text-center{margin: -30px auto 0 !important; position: absolute;top: 50%; width: 100% !important;left: 0}
.scan-complete-popup .popup-buttons .button{width:50%;margin-left:0;background-color:transparent;bottom:0;border-radius:0;color:#000}
.scan-complete-popup .popup-buttons .button+.button{left:auto;right:0%;border-left:1px solid #afafbb}
/* Image Edit Popup */
.upload-popup .popup-buttons{
    border-top:0;
}
 /* Form Popups  */
 .form-popup.new_lab .popup{min-height: 275px}

.form-popup.popup-container .popup {background: #ced6db url("../img/form-popup-bg.png") no-repeat scroll cover cover;} 
.form-popup .popup-body p.text-center{margin: -30px auto 0 !important; position: absolute;top: 50%; width: 100% !important;left: 0}
.form-popup .popup-buttons .button{width:50%;margin-left:0;background-color:transparent;bottom:0;border-radius:0;color:#000}
.form-popup .popup-buttons .button+.button{left:auto;right:0%;border-left:1px solid #afafbb}
.form-popup .popup{ min-height: 250px;}
.form-popup.add-item .popup{ min-height: 230px;}
.form-popup.add-item .popup .row{ padding: 5px 0px;width: 100%}
.form-popup.add-item .popup .row input:nth-child(2){margin: 0 2%; }

.form-popup.add-item-import .popup{ min-height: 350px;}
.form-popup.add-item-import .popup .row{ padding: 5px 0px;width: 100%}
.form-popup.add-item-import .popup .row input:nth-child(2){margin: 0 2%; }
.form-popup.add-item-import .popup p{padding: 5px;opacity: .5;}
.form-popup.add-item-import .popup .button_import{background-color: #00B38C;color: white;margin-bottom: 10px;}
.form-popup.bulk-import .popup{min-height: 328px}
.form-popup.bulk-import .popup textArea{resize: none;}

[nav-view-transition="ios"][nav-view-direction="forward"], 
[nav-view-transition="ios"][nav-view-direction="back"] { background-color: transparent !important; }

/* My ProfilePage */
.my-profile .logout{
    margin: 10px 0;
}

/* Main Page */
.main .tranparent-bg{
    width: 95%;
    height: 95%;
    background-color: rgba(0,0,0,0.1);
    border-radius: 20px;
    margin: 15px auto;
}
.main .bottem-buttons{
   bottom: 40px;
   position: absolute;
   width: 80%;
   margin: 0 auto;
  left: 0;
  right: 0;
}

.main .bottem-buttons .button{
    background-color:transparent;
    border-color:#fff;
}

/* New Project */
.new-project .scroll-content{
    background: #fff;
}
.new-project .project-name label{
    border:0;
}
.new-project .project-name button{
    color:#fff;
    border: 2px solid #fff;
    border-radius: 100px;
    font-size: 12px !important;
    font-weight: bold !important;
    line-height: 12px;
    min-height: 22px;
    
}

/*.new-project .set-deadline span{
    display: inline-block;
    width: 50%;
}*/
.new-project .player div{
    float: left;
    width: 45%;
}
.new-project .player .or{
    width: 10%
}

.new-project .flix{
    border: 10px solid #40c2d1;
    margin-bottom: 2px;
    background: #40c2d1; 
}
.new-project .flix .name{
    background-color: #40c2d1;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 0 0 10px  0px;
}
.new-project .flix .add-link input{
    border: 2px solid #000;
    border-radius: 10px;
    display: inline-block;
    height: 25px;
    margin: 10px auto;
    padding: 0 40px;
}
.new-project .flix .add-link i{
    font-size: 25px;
}
.new-project .flix .invited-player{
    margin: 10px 0;
}
.new-project .flix button{
    width: 47%;
}
.new-project .flix .sub-player img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 2px;
}
.new-project .flix-add button{
  
}

/* Messages page */

.message-container .scroll {
  padding: 10px 0 50px !important;
}

.message-container .messages {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-align-content: center !important;
  -ms-flex-line-pack: center !important;
  align-content: center !important;
  -webkit-box-align: center !important;
  -moz-box-align: center !important;
  -webkit-align-items: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  margin-bottom: 20px !important;
}
.message-container .messages .message {
  -webkit-box-flex: 1 !important;
  -moz-box-flex: 1 !important;
  -webkit-flex: 1 1 auto !important;
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
  padding: 10px !important;
  -webkit-transition: all 250ms ease-in-out !important;
  transition: all 250ms ease-in-out !important;
  overflow: hidden !important;
  text-align: left !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  -moz-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}

.message-container .time {
  -webkit-box-flex: 0 !important;
  -moz-box-flex: 0 !important;
  -webkit-flex: 0 1 auto !important;
  -ms-flex: 0 1 auto !important;
  flex: 0 1 auto !important;
  -webkit-align-self: auto !important;
  -ms-flex-item-align: auto !important;
  align-self: auto !important;
  width: 120px !important;
  text-align: center !important;
  padding: 0 0 0 0 !important;
  -webkit-transition: all 250ms ease-in-out !important;
  transition: all 250ms ease-in-out !important;
  -webkit-transform: translate3d(10px, 0, 0) !important;
  -moz-transform: translate3d(10px, 0, 0) !important;
  transform: translate3d(10px, 0, 0) !important;
}


.message-container .messages.other .message {
  -webkit-transform: translate3d(0, 0, 0) !important;
  -moz-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  text-align: right !important;
}

.message-container .messages.other span {
  color: black !important;
  background-color: #C7C7CC !important;
}
.message-container .messages img{
    float:right;
    height:30px;
    width: 30px;
}
.message-container span {
  background: #fff !important;
  display: inline-block !important;
  color: #000 !important;
  padding: 10px !important;
  border-radius: 10px !important;
  text-align: left !important;
  max-width: 240px !important;
}

 .message-container .message::before {
    border-color: transparent #fff;
    border-style: solid;
    border-width: 7px 14px 7px 0;
    content: "";
    height: 0;
    left: 0px;
    position: absolute;
    width: 0;
    top: 20px;
}

.message-container .other .message::before {
    border-color: transparent #C7C7CC;
    border-style: solid;
    border-width: 7px 0 7px 14px;
    content: "";
    height: 0;
    position: absolute;
    right: 0px;
    width: 0;
    top: 20px;
    left: auto;
}
/*clearfix code*/
.clearfix{
    display:block;
}
.clearfix:after{
    content:".";
    height:0;
    clear:both;
    visibility:hidden;
    display:block;
}

/* Invitest Page */
.invites .list .item{
    padding-right: 120px;
}
.invites .list .item button:first-child{
    right: 65px;
}

/*invitation apge*/
.contact_list
{
    background:rgba(255,255,255,0.7);
}
.contact_list .contact_item
{
    float:left;
    width:200px;
    margin:4px;
}
.contact_list .select_user
{
  float:right;
  background:rgba(255,255,255,0);
  border:none;
  width:20px;
  padding-left:29px;
}
 button.button.button-full.send_invitation
{
    margin:0px;
}
/*project history page*/
.project_sub_header{
    padding:0px;
    height:44px;
}
.project_sub_header .tab .all,.project_sub_header .tab .shared,.project_sub_header .tab .created{
    float:left;
    width:33.33%;
    text-align:center;
    border-right:1px solid black;
    background-color:burlywood;
    color:wheat;
    padding:10px 0px;
}
.project_sub_header .tab .all.active{
    color:white;
}
.project_sub_header .tab .created{
    border:none;
}
.project_sub_header .tab li:hover{
    color:white;
}
.notification_container .list .item{
    white-space: normal;
}
.notification_container .no_notification{
    background-color: white;
    padding:24px;
    text-align: center;
    font-size: 14px;
}
/*progress popup*/
.progress-radial {
 
  margin-right: 30px;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #2f3439;
  background-color: tomato;
  margin: 0 auto;
}

/* -------------------------------------
 * Optional centered circle w/text
 * ------------------------------------- */
.progress-radial .overlay {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #fffde8;
  border-radius: 50%;
  margin-left: 18px;
  margin-top: 18px;
  text-align: center;
  line-height: 60px;
  font-size: 16px;
}

/* -------------------------------------
 * Mixin for progress-% class
 * ------------------------------------- */
.progress-0 {
  background-image: linear-gradient(90deg, #2f3439 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(90deg, #ff6347 50%, #2f3439 50%, #2f3439);
}

.progress-5 {
  background-image: linear-gradient(90deg, #2f3439 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(108deg, #ff6347 50%, #2f3439 50%, #2f3439);
}

.progress-10 {
  background-image: linear-gradient(90deg, #2f3439 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(126deg, #ff6347 50%, #2f3439 50%, #2f3439);
}

.progress-15 {
  background-image: linear-gradient(90deg, #2f3439 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(144deg, #ff6347 50%, #2f3439 50%, #2f3439);
}

.progress-20 {
  background-image: linear-gradient(90deg, #2f3439 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(162deg, #ff6347 50%, #2f3439 50%, #2f3439);
}

.progress-25 {
  background-image: linear-gradient(90deg, #2f3439 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(180deg, #ff6347 50%, #2f3439 50%, #2f3439);
}

.progress-30 {
  background-image: linear-gradient(90deg, #2f3439 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(198deg, #ff6347 50%, #2f3439 50%, #2f3439);
}

.progress-35 {
  background-image: linear-gradient(90deg, #2f3439 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(216deg, #ff6347 50%, #2f3439 50%, #2f3439);
}

.progress-40 {
  background-image: linear-gradient(90deg, #2f3439 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(234deg, #ff6347 50%, #2f3439 50%, #2f3439);
}

.progress-45 {
  background-image: linear-gradient(90deg, #2f3439 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(252deg, #ff6347 50%, #2f3439 50%, #2f3439);
}

.progress-50 {
  background-image: linear-gradient(-90deg, #ff6347 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #ff6347 50%, #2f3439 50%, #2f3439);
}

.progress-55 {
  background-image: linear-gradient(-72deg, #ff6347 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #ff6347 50%, #2f3439 50%, #2f3439);
}

.progress-60 {
  background-image: linear-gradient(-54deg, #ff6347 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #ff6347 50%, #2f3439 50%, #2f3439);
}

.progress-65 {
  background-image: linear-gradient(-36deg, #ff6347 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #ff6347 50%, #2f3439 50%, #2f3439);
}

.progress-70 {
  background-image: linear-gradient(-18deg, #ff6347 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #ff6347 50%, #2f3439 50%, #2f3439);
}

.progress-75 {
  background-image: linear-gradient(0deg, #ff6347 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #ff6347 50%, #2f3439 50%, #2f3439);
}

.progress-80 {
  background-image: linear-gradient(18deg, #ff6347 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #ff6347 50%, #2f3439 50%, #2f3439);
}

.progress-85 {
  background-image: linear-gradient(36deg, #ff6347 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #ff6347 50%, #2f3439 50%, #2f3439);
}

.progress-90 {
  background-image: linear-gradient(54deg, #ff6347 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #ff6347 50%, #2f3439 50%, #2f3439);
}

.progress-95 {
  background-image: linear-gradient(72deg, #ff6347 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #ff6347 50%, #2f3439 50%, #2f3439);
}

.progress-100 {
  background-image: linear-gradient(90deg, #ff6347 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #ff6347 50%, #2f3439 50%, #2f3439);
}
/*action-sheet*/
.action-sheet
{
   
    width:100%;
    margin:0px;
}
.action-sheet-title
{
     text-align:center !important;
    color: #007aff !important;
    font-size: 18px !important;
}
.action-sheet .button
{
    text-align:center !important;
    color: grey !important;
    font-size: 16px !important;
    border-top:1px solid grey!important ;
}
.action-sheet-cancel .button{
    color:red !important;
    border:none !important;
}
.platform-android .action-sheet-cancel {
    display: block !important;
    margin-top:5px !important;
}
/* send invitation popup*/
.send_invite .email_label{
    margin-top:5px;
}

.invite .no_invite, .projects .no_project,.content-stable .no_message{
    background-color: white;
    padding:24px;
    text-align: center;
    font-size: 14px; 
}
.video_container.item{
    width:100%;min-height:150px;position:relative;padding:0px !important;
}
.no_video_message{
    position:absolute;
    top:30%;
    width:80%;
    opacity:0.7;
    text-decoration-color: blue;
    margin-left:10%;
    margin-right: 10%;
    text-align: center;
}
/*resend link*/
.login.resend_link
{
    margin-top:40px;
    width:95%;
    margin:0 auto;
}