<ion-view view-title="Change Password">
    <ion-header-bar align-title="center" >
        <a class="button button-clear font-white back-btn" ng-href="#/setting">
            <i class="ion-android-arrow-back" ></i>
        </a>
        <h1 class="title">Change Password</h1>
    </ion-header-bar>
    <ion-content>
        <div class="forget-password">
                
                <label class="item item-input item-stacked-label">
                    <input type="text" placeholder="Old Password" ng-model="data.old_password">
                </label>
                <label class="item item-input item-stacked-label">
                    <input type="text" placeholder="New Password" ng-model="data.new_password">
                </label>
                <label class="item item-input item-stacked-label">
                    <input type="text" placeholder="Confirm New Password" ng-model="data.confirm_new_password">
                </label>
                <div class='button button-full button-dark submit_button' ng-click="changePassword()">Change Password</div>
            
        </div>    
    </ion-content>
</ion-view>
