<ion-view view-title="Forget Password">
    <ion-header-bar align-title="center" >
        <a class="button button-clear close" ng-href="#/login">
            <i class="ion-close-round" ></i>
        </a>
        <h1 class="title">Reset Password</h1>
    </ion-header-bar>
    <ion-content>
        <div class="forget-password">
                <div class="text-center forget-text">
                    <p class="forget-p">Forget your password?</p>
                    <p>Enter your email below to receive your password reset instructions</p>
                </div>
                <label class="item item-input item-stacked-label">
                   
                    <input type="text" placeholder="Email" ng-model="data.email">
                </label>
                
                <div class='button button-full button-dark submit_button' ng-click="forgetPassword()">Send Password</div>
            
        </div>    
    </ion-content>
</ion-view>
