<ion-view class="new-project" view-title="Home">
    <ion-header-bar align-title="center" >
        <a class="button button-clear " ng-href="#/setting">
            <i class="ion-gear-b" ></i>
        </a>
        <h1 class="title" >{{title}}</h1>

        <a class="button button-clear pull-right " style="right: 30px;" ng-href="#/setting">
            <i class="ion-android-expand" ></i>
        </a>
        <a class="button button-clear " ng-href="#/setting">
            <i class="ion-paper-airplane" ></i>
        </a>

    </ion-header-bar>
    <ion-content class="text-center">
        <div ng-if="is_owner == '1' && history_project=='0'" class="bar item-input-inset project-name">
            <label class=" item-input" style="width: 80%">
                <input  type="text" ng-model="data.name" placeholder="Name Project Here" >

            </label>
            <button style="width: 60px"  class="button button-dark" ng-if="save " ng-click="saveProject()">Save</button>
            <button style="width: 60px"  class="button button-dark" ng-if="!save"ng-click="editProject()">Edit</button>
        </div>
        <div class="bar item-input-inset set-deadline" >
            <span style='width: 40%'>Project DeadLine </span>
            <div style='width: 60%'>
                
                <div ng-if="is_owner == '1' && history_project=='0' && !project_id" class='item' ion-datetime-picker ng-model="data.deadline" ng-click="dateSelected()"><span ng-if="successloading">{{data.deadline| date: "yyyy-MM-dd H:mm:ss"}}</span> </div> 
                <div ng-if="is_owner == '1' && history_project=='0' && project_id" class='item' ion-datetime-picker ng-model="data.deadline" ng-click="dateSelected()"><span ng-if="successloading" countdown='' date='{{data.deadline| date: "MMMM dd, yyyy H:mm:ss"}}'></span> </div> 
                <div ng-if="history_project=='0' && is_owner != '1' " class='item' ng-model="data.deadline"  ><span ng-if="successloading" countdown='' date='{{data.deadline| date: "MMMM dd, yyyy H:mm:ss"}}'></div> 
                <div ng-if="history_project=='1' && project_id" class='item' ng-model="data.deadline" ><span ng-if='successloading'>{{data.deadline| date: "yyyy-MM-dd H:mm:ss"}}</span></div> 
            </div>
        </div>

        <div ng-if='project_id' class="flix" id="flix_div">
            <div class="name">Flix 01</div>
            <div>My Self as a Player Flix 01 </div>
            <div class="sub-player">
                <div>Substitute Player</div>
                <div class='invited-player' >
                      <img ng-repeat="user in data.userList" src="{{user.image || 'img/default_profile.png'}}" ng-click="deleteUser(user.user_id,user.name,$index)">
                </div>
            </div>
            <div class="flix-link">
                <div>Make this My Last Flix with a Link</div>
                <div class='add-link'>
                    <i class="ion-paperclip"></i> 
                    <input type="text"  placeholder="Paste your link here" ng-model="data.fileURI" ng-readonly="readonly">
                </div>
            </div>
            <button ng-if="is_owner == '1' && history_project=='0'" class="button button-small ion-person  button-balanced" ng-click="showContacts()"> Invite a Player</button>
            <button ng-if="is_owner == '1' && history_project=='0'" class="button button-small ion-ios-trash button-assertive" ng-click="deleteFlix()"> Delete Flix</button>
        </div>
        <button  ng-if="project_id && history_project=='0'" id="upload" style="margin-top: 0px" class="button button-full button-royal" ng-click="setVideo()">Upload Your Video</button>

       <div ng-repeat="video in videoList" class="list card">

  <p class="item item-divider">{{video.name}}</p>

  <div class="item" ng-show="video.isSrc">
    <video class="item" style="width: 100%!important;height: auto!important;"   ng-src="{{video.src}}" controls>

                </video>
  </div>
  <div  ng-show="!video.isSrc" class="video_container item">
                <p class="no_video_message ">Their is no video uploaded by {{video.name}}</p>
               </div>


</div>
    </ion-content>
       
    <ion-footer-bar>
        <div ng-include="'templates/tabs.html'"></div>
    </ion-footer-bar>
</ion-view>