<ion-view>
    <ion-header-bar align-title="center" >
        <a class="button button-clear font-white back-btn" ng-click="myGoBack()">
            <i class="ion-android-arrow-back" ></i>
        </a>
        <h1 class="title">Invite Players</h1>
        <button class="button button-dark" ng-click="selectAll()" ng-if="!showClear">SelectAll</button>
        <button class="button button-dark" ng-click="clearAll()" ng-if="showClear">Clear</button>
    </ion-header-bar>
    <ion-content>
        <div class="invitaion_container">
        <ul type="none" class="list">
            <li class="item clearfix contact_list " ng-repeat="contact in contactsList | orderBy:'name'">
                <p class="contact_item">{{contact.name}}</p>
                <ion-checkbox class="checkbox-positive select_user" ng-checked="contact.selected" ng-model="contact.selected" ng-change=currentStatus(contact.selected,contact.email,contact.name,$index)></ion-checkbox>
            </li>
        </ul>

        </div>

    </ion-content>
    <ion-footer-bar>
        <button class="button button-full button-positive send_invitation" ng-click="sendInvitation()">Send Invitation</button>
    </ion-footer-bar>
</ion-view>