<ion-view view-title="Login">
    <ion-header-bar align-title="center" class=" login">
        <a class="button button-clear font-white back-btn" ng-href="#/main">
            <i class="ion-android-arrow-back" ></i>
        </a>
        <h1 class="title login-title">Sign In</h1>
    </ion-header-bar>
    <ion-content>
        <div class='login'>
                <label class="item item-input item-stacked-label">
                 
                    <input type="text" placeholder="Email" name="email" ng-model="data.email" class="inputtag">
                </label>

                <label class="item item-input item-stacked-label">
                   
                    <input type="password" placeholder="Password" ng-model="data.password"  class="inputtag">
                </label>
                <div class="button button-full button-dark login_button" ng-click="login()">Sign In</div>
                <div class="text-center">
                    <a class="button button-clear font-white" ng-href="#/forget_password">Forgot Password?</a>
                </div>
                
        </div>
        <div class='login'>
            <div class="login-link">
                <a class='button button-clear font-white' ng-href="#/signup">New Member? SignUp</a>
            </div>
        </div>
        <div class='login resend_link' ng-if="resend">
            <div class="login-link">
                <img style="width:50px" src="./img/forget_flower.png"/><br>

                <a class='button button-clear font-white' ng-click="resendVerificationLink()">Resend Activation Link</a>
            </div>
        </div>
    </ion-content>
	
</ion-view>