<ion-view class="main" view-title="Main">
    <ion-content scroll="false">
        <div class="tranparent-bg">
            <div class="bottem-buttons">
                <div class="text-center font-white">
                    Creating Stories Together
                </div>
                <div class="text-center">
                    <a class="font-white">(about the app)</a>
                </div>
                <a class="button button-block button-positive" ng-href="#/login">
                    Login
                </a>
                <a class="button button-block button-positive" ng-href="#/signup">
                    Sign Up
                </a>
            </div>
        </div>    
    </ion-content>
</ion-view>