<ion-view class='message-container' view-title="Main">
    <ion-header-bar align-title="center" >
        <a class="button button-clear " ng-click="myGoBack()">
            <i class="ion-android-arrow-back" ></i>
        </a>
        <h1 class="title">{{title}}</h1>
    </ion-header-bar>
    <ion-content class="content-stable">
      <div ng-if="!isRecordFound&&success" class="no_message">No Message</div>
      <div ng-if="isRecordFound&&success" ng-repeat="message in messages"
           ng-class="{other: message.from == myId}"
           class="messages">

        <div class="message clearfix" >
<!--            <img style="float:right" src="{{message.image}}">-->
            <div>
            <span><b style="color:#000">{{message.first_name+' '+message.last_name}}</b><br><i>{{message.msg }}</i><br><i style="font-size:10px">{{message.created}}</i></span>
            </div>
        </div>

        

      </div>

    </ion-content>

    <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />
      </label>
      <button class="button button-clear" ng-click="sendMessage()">
        Send
      </button>
    </ion-footer-bar>

</ion-view>