<ion-view  view-title="Main">
    <ion-header-bar align-title="center" >
        <a class="button button-clear " ng-href="#/setting">
            <i class="ion-gear-b" ></i>
        </a>
        <h1 class="title">Messages</h1>
    </ion-header-bar>
    <ion-content class="projects">
        <div ng-if="!isRecordFound&&success" class="no_project">No Messages</div>
        <ul ng-if="isRecordFound&&success" class="list">
            <li class="item  item-icon-right" ng-repeat="project in projects" ng-click="messagePage(project.project_id,project.project_name)">
                <i class="icon ion-chevron-right"></i>
                {{project.project_name}}
            </li>
        </ul>
    </ion-content>
    <ion-footer-bar>
        <div ng-include="'templates/tabs.html'"></div>
    </ion-footer-bar>
</ion-view>