<ion-view>
    <ion-header-bar align-title="center" >
        <a class="button button-clear " ng-href="#/setting">
            <i class="ion-gear-b" ></i>
        </a>
        <h1 class="title">Notifications</h1>
    </ion-header-bar>
    <ion-content>
        <div class=notification_container>
            
            <div ng-if="!notify&&success" class="no_notification">No Notifications</div>
            
            
            <ul  ng-if='notify&&success' type="none" class="list" >
                <li class="item" ng-repeat="notification in notifications" ng-click="displayInvites(notification.type)">
                    {{notification.notification}}
                </li>
            </ul>
        </div>

    </ion-content>
    <ion-footer-bar>
        <div ng-include src="'templates/tabs.html'"></div>
    </ion-footer-bar>
</ion-view>