<ion-view>
    <ion-header-bar align-title="center">
        <a class="button button-clear font-white back-btn" ng-click="myGoBack()">
            <i class="ion-android-arrow-back" ></i>
        </a>
        <h1 class="title login-title">Project History</h1>
    </ion-header-bar>
    <ion-content class="has-header project_container">
        <div class="projects">
            <div ng-if="!isRecordFound&&success" class="no_project">No Projects</div>
            <ul ng-if="isRecordFound&&success" class="list clearfix" type="none" style="padding-top:0">
                <li class="item item-icon-right" ng-repeat="project in project_list" ng-click="projectDetail(project.project_id, project.is_owner)">
                    <i class="icon ion-chevron-right"></i>
                    {{project.project_name}}
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>