<ion-view view-title="Projects">
    <ion-header-bar align-title="center" class=" login">
        <a class="button button-clear font-white back-btn" ng-click="myGoBack()">
            <i class="ion-android-arrow-back" ></i>
        </a>
        <h1 class="title login-title">Projects</h1>
    </ion-header-bar>
    <ion-subheader-bar class="bar bar-subheader project_sub_header">
        <ul type="none" class="clearfix tab"  style="margin:0px">
            <li ng-click="display('')" class="all {{dynamicClass}}">All</li>
            <li ng-click="display('0')" class="shared">Joined</li>
            <li ng-click="display('1')" class="created">Created</li>
        </ul>
    </ion-subheader-bar>
    <ion-content class="has-header has-subheader project_container">
        <div class="projects">
            <div ng-if="!isRecordFound&&success" class="no_project">No Projects</div>
            <ul ng-if="isRecordFound&&success"class="list clearfix" type="none" style="padding-top:0">
                <li class="item item-icon-right" ng-repeat="project in project_list| filter:{is_owner:type}" ng-click="projectDetail(project.project_id, project.is_owner)">
                    <i class="icon ion-chevron-right"></i>
                    {{project.project_name}}
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>