<ion-view view-title="Main">
    <ion-header-bar align-title="center" >
        <a class="button button-clear " ng-href="#/setting">
            <i class="ion-gear-b" ></i>
        </a>
        <h1 class="title">Main</h1>
    </ion-header-bar>
    <ion-content>
<!--
       <section class="ng-video-container" >

            Base Directive 
            <section class="video" ng-video >
                 Screen Directive 
               <video style=" width: 100%!important;height: auto!important;" vi-screen autoplay="true"></video>
           </section>
            <section vi-playlist>


               <ul>

                   <li vi-playlist-video ng-repeat="video in videos" ng-model="video">

                       Play: {{video.src}}
                    </li>   
                </ul>

            </section>
       </section>-->
    </ion-content>
    <ion-footer-bar>
        <div ng-include="'templates/tabs.html'"></div>
    </ion-footer-bar>
</ion-view>