<ion-view view-title="Sign Up">
    <ion-header-bar align-title="center" >
        <a class="button button-clear font-white back-btn" ng-href="#/main">
            <i class="ion-android-arrow-back" ></i>
        </a>
        <h1 class="title">Sign Up</h1>
    </ion-header-bar>
    <ion-content>
        <div class='signup'>
                <label class="item item-input item-stacked-label">
                   
                    <input type="text" placeholder="First Name" ng-model="data.first_name">
                </label>
                <label class="item item-input item-stacked-label">
                   
                    <input type="text" placeholder="Last Name" ng-model="data.last_name">
                </label>
<!--                <label class="item item-input item-stacked-label">
                    <span class="input-label">Phone Number</span>
                    <input type="text" placeholder="Enter your phone number" ng-model="data.phone_number">
                </label>-->
                <label class="item item-input item-stacked-label">
                    
                    <input type="text" placeholder="Email" name="email" ng-model="data.email" >
                </label>
                <label class="item item-input item-stacked-label">
                 
                    <input type="password" placeholder="Password" ng-model="data.password">
                </label>
                
                <div class="button button-full button-dark signup_button" ng-click="signup()">Sign Up</div>
                <div class="signup-link">
                    <a class='button button-clear font-white' ng-href="#/login">Already Member? Login</a>
                </div>
            </div>
    </ion-content>
</ion-view>