<ion-tabs class="tabs-icon-top tabs-background-dark">
    <ion-tab title="Flix" icon="ion-plus-circled" ng-click="newProject()" >
      <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Notifications" icon="ion-android-notifications" href="#/notifications" badge=notificationCount  badge-style="badge-assertive">
      <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Search" icon="ion-search" href="#/search">
      <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Messages" icon="ion-email" href="#/messages" badge=messageCount  badge-style="badge-assertive">
      <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Me" icon="ion-person" href="#/my-profile" >
      <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>
</ion-tabs>