<div style=" margin:0px 0px 43px 0px">
<!--    <p>Enter Player's Name</p>
    <input type="text" ng-model="data.player_name" placeholder="Enter Player Name">-->
    <p class="email_label">Enter Email Address</p>
    <input type="text" ng-model="data.email" placeholder="Enter Email">
</div>
